.footerMenu {
    height: 80px;
    width: 100%;
    background: rgba(42, 54, 71, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 16px;
    font-family: "Inter";
}

.footerMenu a {
    text-decoration: none;
}

.active {
    background: rgba(9, 25, 49, 1);
}

.respMenuButton {
    height: 76px;
    width: 80px;
    display: flex;
    border-radius: 8px;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.respMenuButton span {
    color: rgba(205, 205, 205, 1);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.respMenuButton img {
    height: 22px;
    width: 22px;
}

.respActive {
    background: rgba(9, 25, 49, 1);
}



