header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 348px;
    padding-bottom: 20px;
    align-items: center;
    font-family: 'Inter';


}

.picture p {
    margin-left: 15px;
    margin-top: 15px;
    gap: 10px;
}

.picture {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help img {
    height: 32px;
    width: 32px;
}

.userIcon {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border-color: black;
    border: 3px solid #2A3647
}

.project {
    display: flex;
    text-align: center;
}