body {
  background: #f6f7f8;
  max-height: 100svh;
}

.pageContent {
  position: relative;
  overflow-x: hidden;
}

main {
  
  /* adjust padding according to implemented header and sidebar */
  display: flex;
  height: 100%;
  width: calc(100% - 232px);
  font-family: "Inter", sans-serif;
}


.contactList {
  background: white;
  width: 456px;
  max-height: 92.5svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 56px;
  box-shadow: 4px 0px 6px 0px #00000014;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #565656 transparent;
}

#addContactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a3647;
  color: white;
  border-radius: 10px;
  gap: 16px;
  padding: 12px;
  width: 352px;
  font-size: 21px;
  font-weight: 700;
  margin: 22.5px 0;
}

#addContactButton:hover {
  cursor: pointer;
  background: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation-timing-function: ease-in-out;
  animation-duration: 100ms;
}

#addContactButton:active {
  background: rgba(9, 25, 49, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#addContactButton img {
  height: 32px;
  width: 32px;
}

#contactListContent {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.contactListLetterContainer {}

.contactListLetter {
  font-weight: 400;
  font-size: 20px;
  padding: 15px 24px;
}

.contactListSpacer {
  background: #d1d1d1;
  border-radius: 3px;
  margin: 8px 0;
  height: 1px;
}

.personInContactList {
  display: flex;
  width: 352px;
  gap: 35px;
  padding: 15px 24px;
}

.personInContactListIcon {
  background-color: violet;
  padding: 10px;
  border-radius: 45px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.personInContactListData {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personInContactListName {
  font-weight: 400;
  font-size: 20px;
}

.personInContactListMail {
  color: #007cee;
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  background: transparent;
  width: 24px;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("/assets/img/scrollbar_button_up.svg");
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("/assets/img/scrollbar_button_down.svg");
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: url(/assets/img/scrollbar_thumb.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 53px;
}

/* Contact Container */
.contactContainer {
  padding-left: 55px;
  padding-top: 110px;
}

.contactHeading {
  display: flex;
  height: 73px;
  align-items: center;
  gap: 30px;
}

.contactHeading h1 {
  font-weight: 700;
  font-size: 61px;
}

.contactHeadingSpacer {
  background: #29abe2;
  width: 3px;
  height: 59px;
  border-radius: 3px;
}

.contactHeading p {
  font-weight: 400;
  font-size: 27px;
}

/* Contact Details */
#contactContent {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;
  left: 100vw;
  transition: all 300ms ease-out;
}

.iconAndName {
  display: flex;
  gap: 54px;
  align-items: center;
}

.contactDetailsIcon {
  font-size: 47px;
  font-weight: 500;
  color: white;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  background-color: orange;
}

.contactDetailsIcon p {
  font-size: 47px;
}

.contactDetailsName {
  font-family: Inter;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  margin-bottom: 8px;
}

.contactDetailsOptions {
  display: flex;
  gap: 13px;
  font-size: 16px;

}

.contactDetailsNameAndOptions a {
  display: flex;
  font-family: Inter;
  font-size: 16px;
  text-align: left;
}

.contactInformation b {
  gap: 15px;
}

.contactInformation {
  margin-top: 80px;
}

.contactDetailsOptions svg {
  height: 24px;
  width: 24px;
}

.contactDetailsOption {
  font-family: Inter;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  align-items: center;
  display: flex;
  gap: 8px;
  color: #2A3647;
}

.contactInformation {
  gap: 59px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 40px;
}

.contactDetailsOption:hover {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.contactDetailsOption:hover svg {
  fill: blue;
}

.contactSocials {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.personInContactList :hover{
  cursor: pointer;
}
@media(max-width: 868px) {
  #sidebar {
    display: none;
  }

  #addContactButton {
    display: none;
  }

  .contactList {
    width: 100%;
  }
}

@media(max-width: 856px) {
  #addContactButton b {
    font-size: 10px;
  }

  .personInContactListMail {
    font-size: 16px;
  }

  .contactList {
    width: 20%;
  }

}

@media(max-width: 856px) {
  #contactListContent {
    font-size: 10px;
  }

  .personInContactListData b {
    font-size: 20px;
  }
}

@media(max-width: 720px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }

  .contactList {
    padding-left: 0;
  }

  .contactContainer {
    display: none;
  }
}

@media(max-width: 720px) {
  .pageContent {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .contactList {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  main {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #addContactButton {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .contactList {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  main {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #sidebar {
    display: none;
  }
}

@media (min-width: 720px) {
  .contactList {
    width: 456px;
  }

  main {
    padding-left: 232px;
    width: calc(100% - 232px);
  }
}

@media (max-width: 390px) {
  #addContactCardOverlay {
    display: none;
  }


}

/* //Contact button */