body::-webkit-scrollbar {
    display: none;
}

main {
  padding-left: 232px;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Inter", sans-serif;
  background: #f6f7f8;
  overflow: hidden;
  justify-content: space-between;
  overflow-y: auto;
}

header {
  z-index: 2;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

h3 {
    font-size: 27px;
    font-weight: 700;
}


ul {
    font-size: 16px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.content {
  color: rgba(0, 0, 0, 1);
  padding-top: 96px;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pageContent {
    display: flex;
    height: 100svh;
    max-width: 100%;
    flex-direction: column;
}

@media (max-width: 1200px) {
    main {
        padding-left: 152px;
    }
}

@media (max-width: 1050px) {
    main {
        padding-left: 0;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    h1 {
        font-size: 47px;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }
}