main {
    min-height: 100svh;
    max-height: 100svh;
    background: #f6f7f8;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#logoContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2A3647;
    padding: 37px;
}

.logo {
    position: relative;
    width: 100px;
    height: 122px;
    top: calc(50% - 61px);
    left: calc(50% - 50px);
}

.logoFill, .logo, #logoContainer {
    transition: all 800ms ease-in-out 200ms;
}

.logoEndPoint {
    width: 64px;
    height: 78px;
    top: 0;
    left: 0;
}