.overlayContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-Index: 998;
}

.taskCardOverlay {
    display: flex;
    flex-direction: column;
    width: 525px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.16);
}

.overlayUserstory {
    padding: 4px 24px 4px 24px;
    background-color: rgba(0, 56, 255, 1);
    border-radius: 8px;
    width: 164px;
  }

  .overlayUserstory p {
    color: white;
    font-size: 23px;
    font-weight: 400;
  }

  .overlayTaskTitle h3 {
    font-size: 61px;
    font-weight: 700;
  }

  .overlayTaskDescription p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }

  .overlayDueDateArea {
    align-items: center;
    display: flex;
    gap: 25px;
  }

  .overlayDueDateText {
    font-size: 20px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
  }

  .overlayDueDate {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }

  .overlayPrioArea {
    align-items: center;
    display: flex;
    gap: 25px;
  }

  .overlayPrioText {
    font-size: 20px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
  }

  .overlayPrio {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }

